{% extends 'layout.html' %} {% block title %} Flack: {{ channel }} {% endblock %}

<head>
    {% block head %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js" defer></script>
    <script src="{{url_for('static', filename='javascript/chat.js')}}" data-user-name='{{ user_name }}' data-channel='{{ channel }}'
        defer></script>
    <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='styles/chat.css')}}"> {% endblock %}
</head>
{% block body %}
<div id='Side_Nav' class='sidenav'>
    <a href="{{ url_for('new_channel') }}" class='sidenav-primary'>New channel</a>
    <a id='close_nav' href='javascript:void(0)' class='closebtn'>&times;</a>
    <div id='channel_list'>
    </div>
</div>

<header id='header'>
    <h1 class='d-inline'>Flack Channel: {{ channel }}</h1>
    <h6 class='d-inline text-muted'>
        <span id='other_channel_nav'>(Other Channels)</span>
    </h6>
    <a id='logout' href="{{ url_for('index') }}" class="btn btn-secondary float-right">Log out</a>
    <p>Flacker: {{ user_name }} </p>

</header>
<div id='main'>
    <div id='messages'>
        {% for channel_message in channel_messages %}
        <!-- <li>
            {{ channel_message[1] }}
        </li> -->
        <div class="card text center rounded">
            <h5 class="card-title">{{ channel_message[0] }}</h5>
            <p class="card-text">{{ channel_message[1] }}</p>
            <p class="card-timestamp">{{ channel_message[2] }}</p>
        </div>
        {% endfor %}
    </div>
</div>
<footer id='footer'>
    <div id='text-container' class='container'>
        <form id='chat-text' name='chat-form'>
            <fieldset>
                <div class='form-group'>
                    <textarea id='text' form='chat-text' rows='4' placeholder='Type text here...' required></textarea>
                </div>
                <input id='current_channel' type='hidden' name='current_channel' value={{ channel }}>
                <div class='form-group float-right inline'>
                    <button type='submit' id='submit' class='btn btn-primary'>Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</footer>
{% endblock %}